fastapi
uvicorn[standard]
sqlalchemy
aiomysql
alembic
pydantic
pydantic-settings
python-multipart
python-dotenv
aiofiles

passlib[bcrypt]
PyJWT
azure-storage-blob
aiohttp
loguru
sentry-sdk
gunicorn
pytest
pytest-asyncio
httpx
